# Database
SQUIRREL_DATABASE_URL=postgresql+asyncpg://squirrel:squirrel@localhost:5432/squirrel

# EPICS Channel Access
SQUIRREL_EPICS_CA_ADDR_LIST=
SQUIRREL_EPICS_CA_AUTO_ADDR_LIST=YES
SQUIRREL_EPICS_CA_CONN_TIMEOUT=2.0
SQUIRREL_EPICS_CA_TIMEOUT=5.0
SQUIRREL_EPICS_MAX_WORKERS=1000
SQUIRREL_EPICS_CHUNK_SIZE=1000

# Application
SQUIRREL_DEBUG=true
